@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body {
    background-color: #1A1A1A;
  }

  body,
  input,
  button {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }

}